In [2]:
!pip install --quiet boto3 pandas streamlit openai python-dotenv langfuse pycaret numpy scikit-learn

# PIPELINE

üìå Importy

In [3]:
from dotenv import load_dotenv
import os
import pandas as pd
import boto3
from io import BytesIO
from sklearn.preprocessing import LabelEncoder
from pycaret.regression import setup, compare_models, tune_model, finalize_model, save_model

load_dotenv()

True

üìå Po≈ÇƒÖczenie z DigitalOcean Spaces

In [4]:
s3 = boto3.client(
    's3',
    aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
    endpoint_url=os.getenv('AWS_ENDPOINT_URL')
    )

In [6]:
BUCKET_NAME = "maraton_2023"

üìå Wys≈Çanie pliku do DigitalOcean Spaces

In [7]:
s3 = boto3.client(
    's3',
    aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
    endpoint_url=os.getenv('AWS_ENDPOINT_URL')
)

file_path = 'maraton_2023.csv'

object_name = 'maraton_2023.csv'

with open(file_path, 'rb') as f:
    s3.upload_fileobj(f, BUCKET_NAME, object_name)

print("Plik zosta≈Ç wys≈Çany.")

Plik zosta≈Ç wys≈Çany.

üìå Wczytanie CSV jako DataFrame

In [8]:
response = s3.get_object(Bucket=BUCKET_NAME, Key=object_name)
csv_bytes = response['Body'].read()

df = pd.read_csv(BytesIO(csv_bytes), sep=';', encoding='utf-8')

print("Wczytano dane")
display(df.head())

Wczytano dane

,Miejsce,Numer startowy,Imiƒô,Nazwisko,Miasto,Kraj,Dru≈ºyna,P≈Çeƒá,P≈Çeƒá Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilno≈õƒá,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA W≈ÅADYS≈ÅAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROC≈ÅAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNA≈É,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475
3,4.0,416,DAMIAN,DYDUCH,KƒòPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,3.196667,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963
4,5.0,8476,KAMIL,MA≈ÉKOWSKI,MIRK√ìW,POL,PARKRUN WROC≈ÅAW,M,5.0,M20,...,3.276667,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654

üìå Czyszczenie danych

In [9]:
df.columns = df.columns.str.strip()
df = df[['P≈Çeƒá', 'Rocznik', '5 km Tempo', 'Czas']].dropna()

üìå Pomocnicza funkcja konwertujƒÖca tempo/czas na sekundy

In [10]:
def convert_time_to_seconds(time):
    if pd.isnull(time) or time in ['DNS', 'DNF']:
        return None
    parts = str(time).split(':')
    return int(parts[0]) * 3600 + int(parts[1]) * 60 + int(parts[2])

In [11]:
def minutes_to_seconds(minutes):
    try:
        return float(minutes) * 60
    except:
        return None

üìå Przekszta≈Çcenie czasu i tempa na sekundy

In [12]:
df['tempo_sec'] = df['5 km Tempo'].apply(minutes_to_seconds)
df['czas_sec'] = df['Czas'].apply(convert_time_to_seconds)

üìå Interpolacja brakujƒÖcych warto≈õci

In [13]:
df['tempo_sec'] = df['tempo_sec'].interpolate()
df['czas_sec'] = df['czas_sec'].interpolate()

üìå Obliczenia Wieku

In [14]:
df['wiek'] = 2023 - df['Rocznik']

üìå Encoding P≈Çci

In [15]:
le = LabelEncoder()
df['p≈Çeƒá_encoded'] = le.fit_transform(df['P≈Çeƒá'])

üìå Finalny zbi√≥r danych do modelu

In [16]:
df_model = df[['p≈Çeƒá_encoded', 'wiek', 'tempo_sec', 'czas_sec']].dropna()

üìå Inicjalizacja ≈õrodowiska PyCaret

In [39]:
exp = setup(
    data=df_model,
    target='czas_sec',
    session_id=123,
    verbose=False,
    fold=5
)

üìå Por√≥wnanie modeli

In [42]:
best_model = compare_models(sort='MAE')

c:\Users\impac\miniconda3\envs\maraton_2023\Lib\site-packages\pycaret\internal\pycaret_experiment\supervised_experiment.py:339: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  .applymap(highlight_cols, subset=["TT (Sec)"])

üìå Tuning najlepszego modelu

In [43]:
tuned_model = tune_model(best_model, n_iter=50, optimize='MAE')

Fitting 5 folds for each of 50 candidates, totalling 250 fits

üìå Finalizacja (zapisuje model z ca≈Çego datasetu)

In [44]:
final_model = finalize_model(tuned_model)

üìå Zapis i upload

In [45]:
save_model(final_model, 'model_pycaret')
with open('model_pycaret.pkl', 'rb') as f:
    s3.upload_fileobj(f, BUCKET_NAME, 'model_pycaret.pkl')

Transformation Pipeline and Model Successfully Saved